body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1921;
}

.container {
  background-color: #fbf7ee;
  width: 550px;
  height: 550px;
  border-radius: 10px;
}

.display-area {
  display: block;
  height: 260px;
  width: 550px;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(246.26deg, #585dfe 0%, #fb3796 100%);
  margin: 0;
}

.display-area h1 {
  font-family: Inter;
  font-weight: 800;
  font-size: 22px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffffff;
  margin: 0;
  padding-top: 53px;
  padding-bottom: 30px;
}

.display-area input {
  border: 0;
  width: 300px;
  background: none;
  font-family: Inter;
  font-weight: 800;
  font-size: 97.5723px;
  text-align: center;
  color: #ffffff;
  caret-color: rgba(255, 255, 255, 0.5);
  display: block;
  margin-left: 130px;
}

.display-area input::placeholder {
  color: aliceblue;
  opacity: 0.3;
}

.box {
  height: 290px;
}

.box h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #1a1921;
  margin: 0;
}

.box p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #4e4e4e;
  margin: 0;
}

.length-box,
.volume-box,
.mass-box {
  line-height: 2;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 400px) {
  .container {
    width: 300px;
    max-height: 100vh;
  }

  .display-area {
    width: 100%;
  }
  .display-area input {
    margin: 0;
  }
  .box {
    height: 200px;
  }
}
